@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica;
	color:  #444;
    font-weight: normal;
}

.input-controllers {
    color: inherit !important;
}

.top-side-bar {
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	position: absolute;
	min-width: 200px;
	max-width: 250px;
	z-index: 99999;
	border: 1px solid grey;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	width: 100%;
}

.top-side-bar:hover {
	opacity:0.90;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

.input-labels {
    margin: 0 0 5px 0;
}

.window-bar-container {
	position:relative;
	height: 30px;
}

#min-max-button {
	position: absolute;
	right: 0;
	height: 100%;
	border: none;
	padding: 5px 6px 1px 6px;
}

#input-container {
	padding: 5px;
}

.data-container {
 	position: relative;
	background-color: red;
}


#runHySplit {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #ffffff;
	padding: 4px 18px 4px 18px;
	text-decoration: none;
}

#runHySplit:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}


.form-control {
	background:#F8F8F8;
	color:#999999;
	border:1px solid #DCDCDC;
	border-radius:2px ;
	box-shadow: 0px 0px 8px #DCDCDC;
	-webkit-box-shadow: 0px 0px 8px #DCDCDC;
	-moz-box-shadow: 0px 0px 8px #DCDCDC;
}
